<template name="task">
    <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">

        {{#if isOwner}}
            <input type="checkbox" checked="{{checked}}" class="toggle-checked"/>
        {{else}}
            <input type="checkbox" checked="{{checked}}" class="toggle-checked" disabled/>
        {{/if}}

        <!-- Next elements show only for task owner -->
            {{#if isOwner}}
                <button class="modify"><i class="material-icons" style="font-size:13px">mode_edit</i></button>
                <button class="delete">&times;</button>
                <button class="toggle-private">
                    {{#if private}}
                        Private
                    {{else}}
                        Public
                    {{/if}}
                </button>
            <!--Show Edit and Delete buttons as disabled for all logged in users except task owner-->
            <!--{{else}}
                <button class="modify" disabled><i class="material-icons" style="font-size:13px">mode_edit</i></button>
                <button class="delete" disabled>&times;</button>-->
            {{/if}}

        <span class="text"><strong>{{username}}</strong> - {{text}}</span>
    </li>
</template>

